body, h1, h2, .function {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #555;
    margin-bottom: 10px;
  }
  
  .function {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 20px;
  }
  
  .name {
    font-weight: bold;
    color: #0056b3;
  }
  
  .description {
    color: #666;
  }
  